html{
    height: 100%;
}


#root{
    display: grid;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
    "navigation"
    "header"
    "content"
    "footer";
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'The Girl Next Door', cursive;
    background-color: rgba(235, 199, 152, 0.774);
    perspective: 2px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

a {
    text-decoration: none;
    color: rgb(88, 42, 34);
}


#navigation{
    grid-area: navigation;
    
    
}

#navigation ul{
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#navigation ul li {
    display: inline;
    font-size: 1.25em;
    list-style: none;

}

#header{
    grid-area: header;
}


@media (min-width: 700px) {
    #root{
    background-color: rgba(235, 199, 152, 0.774);
    grid-template-rows: min-content auto min-content;
    grid-template-areas: 
    "navigation"
    "header"
    "content"
    "footer";
    }
    #navigation > ul {
        flex-flow: row nowrap;
    }
}

#content {  
    grid-area: content;
    padding: 0;
}

#footer {
    grid-area: footer; 
    display: inline;
}

#footer ul {
    list-style: none;
    text-align: center;
}    
#footer ul li {
    display: inline;
    font-size: 1.25em;
    color: rgb(88, 42, 34);
    
}

#info{
    color: rgb(88, 42, 34);

}

#Poems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 30px;

}

#Poems h2{
    font-style: italic;
}

.slide{
    position: relative;
    padding: 25% 10%;
    min-height: 100%;
    width: 100%;
    transform-style: inherit;
}

.slide:before{
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}


#p1:before{
    background-image: url('https://lh3.googleusercontent.com/hvWdVsMJrDWMCQ3SnP1I7kuugqsXMIe2HT_xtzhqnhKQdK3dFY5cp7rOtv-QW27TVC9rLvi5gZNzhblDwMiD6Ef4kOCqYjL1b3NfP-g4DAN9Rul7V0henGEL1TqzfwMrE7XVKz6_B7PJJVuxJwqR6pwEZ9ZDeAlcJRiRje04xdRt4Rnjcoz5u2VYdwYA9zOLyNNJyLsgfqYIlx4fbXklJ2jUCPNf-0N1p9G6-3N9-VqH6qlEui6kU-Q9rkVjY_YtZY_apakIuPOHvdBiLYxjeklPadxjJ1h5ZwIFPHMI8P6IVhB8rPs8yLNAf4xl53MnOA2_QwuBc_cBhLTlUyzfNtRfi51ZABSmiXFbvnhw4C2d02JnZt1Svmc8-P68DfYrLfdOpKsiCTqTPVtncd_la_aVVdFArMBbfx3XV5pv4-umFVuDRqlkc9Onre3m7GSIllZ12E2yMZHk3-5AHPLmDGFAuZEEORJW3tL3-SDlzxpC-eke4cHimtqUfEtthgdc5X_pjyJhWbq2qXq3UtHdb_DcclCV9PDrHychjZ-zZoHSKFgl_bG8EYkUq5mpLLEboKfVILbglO7Mo_JLjmd89bABcBAf5ow=s661-w661-h657-no');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;

}

#p2{
    background-image: url('https://lh3.googleusercontent.com/W7cRzVCfpIaR-j_jb1_H2WiLkTp1kyPBAgUzXqyqUcr0KRkhiCwSWOzlwBit_Krt7gP2vZBoKWvSiup7zF1mbpFuQYHBMHNEamhMQUeTON42VfGraVmyVlfB3rH_FZCbrOnSdTzd8_gZh8e3TQhJo64xXvJAqlhVTDzldRWMYC6mXJu4ZW1xndXAXlThle_r2LfSczbrEQM5098mZcGk3lR8cbmHvHQqq-QvbnPjjgGMTSLN5xfMcg07srM7iAaBAFidLVBkGfjbAB5s0lC3mLBhhS52mmOcTbc2_RVeGThBNScYuiLhfZ9VZG72Bb0oCLzb8T0IVX8mjmT-qLjV4t669A2umGCbx1ecCwh7gSxpf1JHjpRLQiNEL0JfCa4xRq58omSrjP8DRfCU02rjnpTmbQS-fn2xWX8mp8zCqhtV8YWQiRE-D0_j6CNZTCgnWlm9IiUiIPNWplyEuVO15zZaFZT4HiDyOINGgcwJoLmIqZW-1zDfX7e0hv3MgoR6kQp8-fei5bjnOjyZK9A_vPjpKVGzq_B9tuLlamWbw3264EoQsN7GrwX4Ui01U0nrF-1TXMpEnKisZKS-NxDNaXSYmUdcUnc=s657-w533-h657-no');
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateZ(-1px) scale(2);
    
}

#p3{
    background-image: url('https://lh3.googleusercontent.com/w0Ej1cZqAfu3oXyl83BNFJowEPGi2T8jxr-OXbrp3vWHRhcGBZH07WUsd7AWAAD2SgFzhJT4OKI_h8eW7ZRnV5vo_S_0exi0Vr6FS8_9mGty0_cUQ6hKSxI7IFKXeYvscJfanxYI7GM_7LDl_dXysX0ArlxN-zWN7KoSN4AuPDVvRoOLqKs44yJT31Y4vIrK7khI_4-GaJvesvYTf3XNmd4GlsdJj16sjbI2X4_L1cMy9LbuHJKWAuvIwEnQ5GqXT6ngVBZyTcXfQEQygAXUBUgI0HhvuXYhzH9UF19MIHn9B-9qpj_VLEwAt2i3Bt2MOMKRSEo7D7aw7U63F38HPFbI1qwgjqS9FA0jQfJunhlKqcuFeHTkr9JFCzQeEK49aqjhDGfb-NzDZ_Lwf7AMANoC7aF5OC_kV9-8wf_f_C7gC7vGlWQ1fu2rMYJVkhO1n3gq422jzGaCX7CvEHtP9ak0Ea4el-KfVmGhFGL1zrlxbyt_2ELzgXAGuy6IskdMLLBuX7dxNAB9k8TIopcHqcd7TEVBsDRaoo4Qad1TOFXWMez_rmY-_OWnZ-MA77QhnBDBwCZNJjq1S1ciE05an7PEs35epyY=s661-w661-h657-no');
    background-size:contain;
    background-repeat: no-repeat;
    z-index: 2;
}

#p4{
    background-image: url('https://lh3.googleusercontent.com/gOJgoEyHyTaNzYXJEBIwM4kVQXAFwD9m1V1Ugx6N2OyJFF3kwUlJConZCmLcy7tNYhI4Zt5kCzxtTuEPXFxVLqnxfHiMDnO5-uZ190ksDj01m7V7cNkgeFcHzdOtEAMYca42FHcl0jcbPHsmC0KjSXpmWErjX5sKIuvWCW39rehlt2uYuKOqPIabs3NfbwoXxtPk7rIgvDsbroajd2zZ6ydllf5a9vizfFZ3KDemqNxBrs7pLg8cIgRNHUci5lD1jq7H3nBLO31KmKKL4AbQciwMVlECqi17-sk98SPlpSIWw0PK2O-0cbbHm3Wy-_9dAzqA35-KyRU0hOmk_NAAqnQeGY9sT0csBcI7ddZW_OxuOJGQMChosELoCK51juC0L58xe37pnAjX4hslDkdO9sPVUCBV_dpjf7feSzWxVnQB-mgO6vKvBolEVypNaHuFeEQOchMhzZT_xI4V-kKA8XPa15MkM0nYruSPmeQsNzcwP2H3KUCuhHnc-deipamGl3MdY-6QIQZ6j533tvbvZrDnVZ7G08D9aSFFxJmGUEOqhBpIayzbGwK88rHkAJ-8lsHR6iQohZtl985DuZAjdCWKQAtxLGo=s667-w667-h657-no');
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateZ(-1px) scale(2);
}

.tiltedBackground {
    flex-flow: row nowrap;
    width: 100vw;
    height: 100vh;
    color:rgb(88, 42, 34);
    font-size: 20px;
    letter-spacing: 1px;
    background: url('https://thepracticalhistorian.files.wordpress.com/2018/10/bookstack.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    align-content: center;
}



.edit {
    align-items: center;
    color: rgb(88, 42, 34);
}

.contain{
    width: 300px;
    height: 250px;
    float: left;
    padding: 5px;
}

.aboutAuthor h1{
    font-weight: bold;
}

.aboutAuthor h2{
    font-style: italic;
}

.aboutAuthor h3{
    font-style: italic;
}

.mapouter{
    padding: 5px;
}
