html{
    display:grid;
    width:100vw;
    height:100vh;
}


#root{
    display: grid;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
    "navigation"
    "header"
    "content"
    "footer";
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'The Girl Next Door', cursive;
    background-color: rgba(235, 199, 152, 0.774);
}

a {
    text-decoration: none;
    color: rgb(141, 14, 14);
}


#navigation{
    grid-area: navigation;
    padding: 15px;
    flex-direction: row;
      
}

#navigation ul{
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#navigation ul li {
    display: inline;
    font-size: 20px;
    list-style: none;

}

#header{
    grid-area: header;
}

#content {  
    grid-area: content;
    padding: 0;
}

#footer {
    grid-area: footer; 
    display: inline;
    position: relative;
    padding: 0;
}

#footer ul {
    text-align: center;
    list-style: none;
}    
#footer ul li {
    font-size: 20px;
    
}

 

.Poems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.Poems img {
    width: 65%;
    height: 75%;
    padding: 10px;
}

.tiltedBackground {
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    color:rgb(88, 42, 34);
    font-size: 20px;
    letter-spacing: 1px;
    background: url('https://thepracticalhistorian.files.wordpress.com/2018/10/bookstack.jpg') no-repeat center;
    padding-top: 10%;
    padding-bottom: 0;
    align-content: center;
}


.edit {
    margin: 0;
    padding: 0;
    color: rgb(88, 42, 34);
}

.intro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:300px;
    height:450px;
    
}

@media (min-width: 500px) {
    #root{
    background-color: rgba(235, 199, 152, 0.774);
    grid-template-rows: min-content min-content min-content;
    grid-template-areas: 
    "navigation header"
    "navigation content"
    "navigation footer";
    }
    #navigation > ul {
        flex-direction: row;
    }
}