html{
    height: 100%;
    width: 100vw;
}


#root{
    display: grid;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
    "navigation"
    "header"
    "content"
    "footer";
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    font-family: 'The Girl Next Door', cursive;
    background-color: rgba(235, 199, 152, 0.774);
}

a {
    text-decoration: none;
    color: rgb(88, 42, 34);
}


#navigation{
    grid-area: navigation;
    
    
}

#navigation ul{
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#navigation ul li {
    display: inline;
    font-size: 1.25em;
    list-style: none;

}

#header{
    grid-area: header;
}


@media (min-width: 700px) {
    #root{
    background-color: rgba(235, 199, 152, 0.774);
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas: 
    "navigation"
    "header"
    "content"
    "footer";
    }
    #navigation > ul {
        flex-flow: row nowrap;
    }
}

#content {  
    grid-area: content;
    padding: 0;
}

#footer {
    grid-area: footer; 
    display: inline;
    padding: 0;
}

#footer ul {
    list-style: none;
    text-align: center;
}    
#footer ul li {
    display: inline;
    font-size: 1.25em;
    color: rgb(88, 42, 34);
    
}

#Creative{
    width: 100vw;
    height: 100vh;
}


#info{
    color: rgb(88, 42, 34);
    border: 1px solid black;
    padding: 10px;
}
#coffee{
    display:flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: center;
    color:rgb(88, 42, 34);
    padding: 10px;
}
.mapouter{
    position: sticky;
}


#coffee h2{
    text-align: center;
    align-content: space-around;
}


#Poems{
    border: 1px solid black;  
    text-align: center;  
    color:rgb(88, 42, 34);
   
}


.peek h1{
    font-style: italic;
}

.first{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.second{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}


.exerpts{
    width: 440px;
    height: 475px;
}


#Poems h2{
    font-style: italic;
}


.tiltedBackground {
    width: 100vw;
    height: 100vh;
    color:rgb(88, 42, 34);
    margin: 0;
    padding: 0;
    background: url('https://thepracticalhistorian.files.wordpress.com/2018/10/bookstack.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}



.service{
    color: rgb(88, 42, 34);
    display: block;
    text-align: center;
}

.edit {
    text-align: center;
    
}

.contain{
    object-fit: contain;
    width: 300px;
    height: 220px;
    float: left;
    padding: 5px;
}

.aboutAuthor h1{
    font-weight: bold;
}

.aboutAuthor h2{
    font-style: italic;
}

.aboutAuthor h3{
    font-style: italic;
}

